 <div id="vmap" style="display:none"></div>

<div id="contact-form">
  <form action='mailto:rira.nunu.choi@gmail.com?subject=Dear World Map News Manager' enctype='text/plain' method='post' role='form' >

    <p><input id='From' name='From'  placeholder='Your Name' type='text' value=<%= @user.username.gsub(/ /,"-") if @user %>></p>
    <p><input id='contact-email' placeholder='E-mail Address' type='text' value=<%= @user.email if @user %>></p>
    <p><textarea id="message" name='Message' placeholder='Leave your message'></textarea></p>

    <p><input type="submit" value="Send" id='send-button'><p>
  </form>
</div>