<h1>Users List</h1>

<div class ='users_info'>
  <% @users.each do |user| %>
    <p><%= user.username %> </p>
    <p>Email : <%= user.email%></p>
    <p class='show_options'><%= link_to("Delete", user_path(user.id), :data => { :confirm => 'Are you sure you want to delete this?', :method => :delete }) %></p>
   <% end %>
</div>