
<div id="extruderLeft" class="{title:'Categories'}">
  <div class="voice {} toggle_cate"><span class="label"><a class="label" href="#">CATEGORIES</a></span></div>

    <% @categories.each do |cate| %>
     <div class="voice {}">
      <span class="label"><a class="label" href="#">
        <%= cate.title %></a>
      </span>
    </div>
    <% end %>

</div>