 <div id="vmap" style="display:none"></div>
<!-- ABOUT TEMPLATE -->
<div class="wmn-intro">
  <div class="about-image">
    <%= link_to(image_tag('spinning_earth.gif', id: 'earth-gif'), pages_path, title: 'Go to the map') %>
  </div>

  <h2>Let's Try IT! </h2>

  <!-- JOIN US LINK -->
  <div id="join-us">
    <p><em>You can save your search preference if you join us.</em></p>
    <a href="/pages" title="Try it!">TRY?</a>
    <a href="/users/new" title="Sign Up" >SIGN UP?</a>
  </div>

  <!-- ABOUT SUMMARY -->
  <div class="about-article">
    <span class="strong">World Map News</span> is an international news feed application. You can search news based on <span class='strong'>geographical location</span> and further optimize search results based on <span class="strong">keywords</span> or <span class="strong">categories</span>.<br/>
  </div>
</div>
