 <div id="vmap" style="width: 960px; height: 500px; display:none"></div>

<div class="wmn-intro">
  <div class="about-image">
    <%= link_to(image_tag('spinning_earth.gif', id: 'earth-gif'), pages_path, title: 'Go to the map') %>
  </div>

  <a href="/pages" title="Try it!"><h2>Let's Try IT! </h2></a>
  <a href="/users/new" title="Sign Up" id="join-us"><em>You can save your search preference if join us.</em></a>

  <div class="about-article">
    <span class="strong">World Map News</span> is an international news feed application. You can search news based on <span class='strong'>geographical location</span> and further optimize search results based on <span class="strong">keywords</span> or <span class="strong">categories</span>.<br/>
  </div>
</div>
