 <div id="vmap" style="width: 960px; height: 500px; display:none"></div>

<div id="contact-form">
  <form action='mailto:rira.nunu.choi@gmail.com?subject=Dear World Map News Manager' enctype='text/plain' method='post' role='form' >
    <p><input id='first' name='first_name' placeholder='First Name' type='text'>
      <input id='last' name='last_name' placeholder='Last Name' type='text'></p>
    <p><input id='contact-email' placeholder='E-mail Address' type='text'></p>
    <p><textarea id="message" name='message' placeholder='Leave your message'></textarea></p>

      <footer>
        <input type="submit" value="Send" id='send-button'>
      </footer>
  </form>
</div>