<h1>WORLD MAP NEWS</h1>
<div id="vmap" style="width: 960px; height: 500px;"></div>

<div id='article_container'>
  <% @country_codes.each do |contry_code|%>
    <div id='<%=contry_code%>' style='display:none;'></div>
  <% end %>
</div>
