@import url(http://fonts.googleapis.com/css?family=Codystar);

*{
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  border: 0;
}

a{
  color: #FFF;
}

html,body{
  width: 100%;
}

body{
  margin: auto;
  background-color: rgba(0,0,0,0.9);
  color: rgb(153, 150, 150);
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}

footer{
  height: 50px;
}

#nav_container{
  max-width: 960px;
  margin: auto;
}

#body_container{
  max-width:  960px;
  width: 95%;
  margin: auto;

}

#blank{
  height:70px;
  text-align: center;
}


#world_map_news{
  font-size: 30px;
  margin: 2% 0 2% 0;
  margin-right: 70px;
  color: rgba(225, 225, 225, 0.5);
  font-family: 'Codystar', sans-serif;
  border-bottom: 1px solid rgba(225, 225, 225, 0.3);
}

.title_letter{
  font-size: 50px;
  color: rgba(225, 225, 225, 0.7);
}

.nav{
  width: 500px;
}

#world_map_news, .nav{
  display: inline-block;
  vertical-align: middle;
}

.users_contact, .users_new,
.sessions_new, .users_index,
.categories_index, .users_show{
  display: none;
}


/* ABOUT */

.about-image{
  padding-top: 35px;
  width: 90%;
  margin: auto;
}

#earth-gif{
  width: 200px;
  height: 200px;
  margin: 5% auto 5% auto;
}

.wmn-intro {
  text-align: center;
  width: 70%;
  margin: auto;
}

.wmn-intro .about-article {
  font-size: 15px;
  width: 100%;
  max-width: 457px;
  margin: auto;
  text-align: center;
  padding-top: 25px;
}

.wmn-intro .about-article .strong{
  font-size: 20px;
  color: #fff;
}

.wmn-intro #join-us{
  display: block;
  font-size: 17px;
  text-align: center;
  width: 100%;
  color: #0B75AF;
  padding: 0;
}

#join-us a{
  margin: 10px;
  width: 150px;
  display: inline-block;
  font-size: 23px;
  padding: 5px;
  background-color: #0B75AF;
  border: 2px solid rgba(225, 225, 225, 0.2);
}

#join-us a:hover{
  opacity: 0.7;
}

.wmn-intro h2 {
  font-size: 30px;
  color:#0B75AF;
}

/* MY NEWS */

.users_mynews #msg {
  font-size: 40px;
  color:rgba(225, 225, 225, 0.5);
  font-family: 'Trebuchet MS';
  position: relative;
  top:-20px;
}

.pages_index #msg{
  font-size: 40px;
  color:rgba(225, 225, 225, 0.5);
  font-family: 'Trebuchet MS';
  position: relative;
  top: 20px;
}

.pages_about #msg{
  font-size: 50px;
  color:rgba(225, 225, 225, 0.5);
  font-family: 'Trebuchet MS';
  position: relative;
}

/* PAGE CSS */

#vmap{
  width: 100%;
  height: 400px;
}

.content_article{
  width: 60%;
  margin: 2%;
}

.loading_animation{
  margin: auto;
  width: 200px;
  height: 200px;
  text-align: center;
  z-index: 1;
  position: absolute;
  left: 50%;
  top: 450px;
  margin-left: -100px;
}

.loading_animation img{
  margin: auto;
  opacity: 1;
  background-color: rgba(225,225,225,0.6);
  border-radius: 100%;
  width: 150px;
  height: 150px;
  border: 10px solid rgba(0,0,0,0.5);
}

.article_info{
  width: 25%;
  height: 200px;
  background: url(main1.png) no-repeat;
  background-size: 100% 70%;
  margin: 2%;
  text-align: center;
  margin-top: 85px;
}

.single_article{
  min-height: 350px;
  margin: auto auto 2% auto;
  border-bottom: 1px solid rgba(225,225,225,0.4);
  color: white;
  text-shadow: 1px 1px 1px #000;
}

.artiTitle h3{
  font-size: 30px;
  text-shadow: 1px 1px 1px #000;
}

.artiAuthor{
  margin-top: 170px;
  color: #0B75AF;
  text-shadow: 1px 1px 1px #000;
}

.artiOriginal{
  margin-left: 450px;
  color: rgba(225,225,225,0.6);
}

.artiOriginal a:hover{
  color: white;
}

.content_article, .article_info{
  display: inline-block;
  vertical-align: top;
}

.search_bar{
  margin: auto;
  padding: 10px;
  display: none;
  width: 100%;
}

.search_bar input {
  max-width: 700px;
  width: 70%;
  height: 20px;
  padding: 10px;
  margin: 3%;
  background-color:#FFF;
  border: 0;
  font-size: 20px;
  color: black;
}

.search_bar input:hover{
  background-color: rgba(225,225,225, 0.7);
  color: #FFF;
}

.search_bar button {
  width: 100px;
  height: 50px;
  padding: 10px;
  background-color: rgba(146, 26, 26, 0.8);
  outline: none;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
  border: 0;
}

.search_bar button:hover{
  background-color: rgba(225, 0, 0, 0.7);
}

.words{
  font-size: 40px;
  color: rgba(225, 20, 20, 0.6);
}


#msg_no_result h1{
  margin: auto;
  text-align: center;
  font-size: 40px;
  color: rgba(225, 220, 220, 0.6);

}

#msg_no_result span{
  font-size: 50px;
  color: rgb(137, 12, 12);
}

.back_top, .btn_back_top {
  position: fixed;
  width: 150px;
  height: 150px;
  right: 5%;
  bottom: 0;
  opacity: 0.7;
  cursor: pointer;
}

.back_top{
  display: none;
}


/* NAV */


ul.sdt_menu{
  margin:0;
  padding:0;
  list-style: none;
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
  font-size:14px;
  width: 930px;
}
ul.sdt_menu a{
  text-decoration:none;
  outline:none;
}
ul.sdt_menu li{
  float:left;
  width:170px;
  height:85px;
  position:relative;
  cursor:pointer;
}
ul.sdt_menu li > a{
  position:absolute;
  top:0px;
  left:0px;
  width:170px;
  height:85px;
  z-index:12;
  background:transparent url(overlay.png) no-repeat bottom right;
  -moz-box-shadow:0px 0px 2px #000 inset;
  -webkit-box-shadow:0px 0px 2px #000 inset;
  box-shadow:0px 0px 2px #000 inset;
}
ul.sdt_menu li a img{
  border:none;
  position:absolute;
  width:0px;
  height:0px;
  bottom:10px;
  left:85px;
  z-index:100;
/*  -moz-box-shadow:0px 0px 4px #000;
  -webkit-box-shadow:0px 0px 4px #000;
  box-shadow:0px 0px 4px #000;*/
}
ul.sdt_menu li span.sdt_wrap{
  position:absolute;
  top:25px;
  left:0px;
  width:170px;
  height:60px;
  z-index:15;
}
ul.sdt_menu li span.sdt_active{
  position:absolute;
  background:#111;
  top:85px;
  width:170px;
  height:0px;
  left:0px;
  z-index:14;
  -moz-box-shadow:0px 0px 4px #000 inset;
  -webkit-box-shadow:0px 0px 4px #000 inset;
  box-shadow:0px 0px 4px #000 inset;
}
ul.sdt_menu li span span.sdt_link,
ul.sdt_menu li span span.sdt_descr,
ul.sdt_menu li div.sdt_box a{
  margin-left:15px;
  text-transform:uppercase;
  text-shadow:1px 1px 1px #000;
}
ul.sdt_menu li span span.sdt_link{
  color:#fff;
  font-size:24px;
  float:left;
  clear:both;
}
ul.sdt_menu li span span.sdt_descr{
  color:#0B75AF;
  float:left;
  clear:both;
  width:155px; /*For dumbass IE7*/
  font-size:10px;
  letter-spacing:1px;
}
ul.sdt_menu li div.sdt_box{
  display:block;
  position:absolute;
  width:170px;
  overflow:hidden;
  height:80px;
  top:85px;
  left:0px;
  display:none;
  background:#000;
}
ul.sdt_menu li div.sdt_box a{
  float:left;
  clear:both;
  line-height:30px;
  color:#0B75AF;
}
ul.sdt_menu li div.sdt_box a:first-child{
  margin-top:15px;
}
ul.sdt_menu li div.sdt_box a:hover{
  color:#fff;
}


/* MOBILE NAV */
/* HIDE MOBILE NAV AND DISABLE TO CLICK */
#mobile-usernav, #mobile-nav{
  opacity: 0;
  position: fixed;
  top:0;
  color: white;
  background-color: rgba(33, 31, 31, 1);
  z-index: -10;
  margin: auto;
  padding: 0;
  left: -205px;
  height: 100%;
  position: fixed;
  width: 205px;
  overflow: auto;
}

.icon-menu {
  opacity: 0;
  z-index: -10;
  pointer-events: none;
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-top: 25px;
  width: 200px;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-close img{
  width: 50px;
  height: 50px;
  cursor: pointer;
}

#mobile-usernav ul, #mobile-nav ul{
  margin: auto;
  padding: 0;
}

#mobile-usernav li, #mobile-nav li{
  display: block;
  vertical-align: top;
  font-size: 30px;
  width: 100%;
  margin:auto;
}

#mobile-usernav li a, #mobile-nav li a{
  display: block;
  pointer-events: none;
}

#mobile-usernav li > a,
#mobile-nav li > a{
  font-size: 25px;
  padding: 20px 0;
  text-align: center;
}

.toggle-nav a{
  padding: 10px 0;
  width:100%;
  border-top: 1px solid rgba(33, 31, 31, 1);
  border-bottom: 1px solid rgba(33, 31, 31, 1);
  margin: auto;
  font-size: 18px;
  text-align: center;
  background:transparent url(overlay.png) no-repeat bottom left;

}

.toggle-nav img{
  width: 50px;
  height: 50px;
  text-align: center;
}


@media screen and (max-width: 960px){
  *{
    padding: 0;
    margin: 0;
  }

  #body_container,
  #nav_container {
    margin: auto;
    width: 100%;
  }

  #vmap{
    width: 100%;
    padding: 0;
    margin:auto;
  }

  #blank{
    padding-top: 50px;
  }

  .jqvmap-zoomin,
  .jqvmap-zoomout{
    position: absolute;
    left: 10px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    background: rgba(0,0,0,0.5);
    padding: 20px;
    color: white;
    width: 10px;
    height: 10px;
    font-size: 20px;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    outline: none;
  }

  .jqvmap-zoomout{
    top:70px;
  }

  .wmn-intro{
    width: 80%;
  }

  #earth-gif{
    width: 120px;
    height: 120px;
    margin: auto;
    padding-bottom: 20px;
  }

  #nav_container{
    width: 100%;
  }

  #world_map_news{
    display: none;
  }

  #user_category{
    width:600px;
  }

}

@media screen and (max-width: 640px){
  .wmn-intro{
    width: 90%;
  }

   #blank{
    padding-top: 0;
  }

  .msg{
    font-size: 30px;
  }

  #join-us p{
    width: 180px;
    margin: auto;
  }

  .pages_index #msg,
  .pages_about #msg{
    margin:auto;
    font-size: 2em;
  }

  .jqvmap-zoomout{
    top:10px;
    left: 70px;
  }

  #vmap{
    height: 350px;
    top:30px;
    margin-bottom: 50px;
  }

  .extruder .voice a.label{
    font-size: 20px;
  }

  .back_top{
    width: 100px;
    height: 100px;
  }

  /* NEWS CSS */

  .single_article{
    min-height: 150px;
    padding-top: 50px;
  }

  .single_article h2, #msg_no_result h2{
    font-size: 20px;
  }

  #article_container div > h2{
    text-align: center;
  }

  .words{
    display: block;
    font-size: 30px;
  }


  .loading_animation{
  width: 150px;
  height: 150px;
  left: 50%;
  top: 350px;
  }

  .loading_animation img{
    width: 100px;
    height: 100px;
  }

  .artiTitle h3{
    font-size: 25px;
  }

  .artiSummary,
  .article_info{
    display: none;
    display: none;
  }

  .content_article{
    width: 95%;
  }

  .artiOriginal{
    margin-left: 0;
  }

  .search_bar{
    margin: auto;
    padding: 10px 0;
    display: none;
  }

  .search_bar input {
    width: 70%;
    padding: 5px 0;
    font-size: 15px;
  }

  .search_bar button {
    width: 20%;
    padding: 3px 0;
    font-size: 15px;
  }

  #user_category{
    width: 320px;
    margin-bottom: 20px;
  }

  #user_category div{
    width: 85%;
  }

  .users-mynews .loading_animation{
    top: 450px;
  }

  #msg_no_result h1{
    font-size: 25px;
  }

  #msg_no_result span{
    font-size: 40px;
  }

  /* MOBILE NAV */

  .nav{
    display: none;
  }

  #mobile-usernav, #mobile-nav, .icon-menu{
    opacity: 1;
    z-index: 1000;
  }

  #mobile-usernav li a, #mobile-nav li a, .icon-menu{
    pointer-events: auto;
  }

  #mobile-usernav ul, #mobile-nav ul{
    padding-bottom: 50px;
  }

  #mobile-usernav li > a,
  #mobile-nav li > a{
    pointer-events: none;
  }

}

@media screen and (max-width: 319px){
  #body_container,
  #nav_container,
  #vmap, .search_bar,
  .wmn-intro{
    width: 320px;
  }

  .content_article, .single_article{
    width: 300px;
    min-height: 150px;
  }
  .artiTitle h3{
    font-size: 25px;
  }
}
