.user_form, .sign_in, #contact-form{
  width: 960px;
  margin: auto;
}

.user_form p,
#contact-form p,
.sign_in p{
  display: block;
  padding: 10px 0;
  margin: auto;
}

.user_form input,
.sign_in input,
#user_native_country,
#native_country,
#contact-form input{
  width: 70%;
  padding: 10px;
  background-color: rgba(74, 70, 70, 0.8);
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-border-radius:10px 0;
     -moz-border-radius:10px 0;
          border-radius:10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
     -moz-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
          box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-border-radius:10px 0;
     -moz-border-radius:10px 0;
          border-radius:10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
     -moz-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
          box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
  outline: none;
  color: #FFF;
  font-size: 25px;
  margin: auto;
}

#contact-form #message{
  width: 70%;
  height: 200px;
  margin-right: 20px;
  padding: 10px;
  background-color: rgba(74, 70, 70, 0.8);
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-border-radius:10px 0;
     -moz-border-radius:10px 0;
          border-radius:10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
     -moz-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
          box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
  outline: none;
  color: #FFF;
  font-size: 25px;
}

.user_form input:hover,
.sign_in input:hover,
#user_native_country:hover,
#native_country:hover,
#contact-form input:hover{
  background-color: rgba(200,200,200,0.5);
}


.user_form label,
.sign_in label{
  font-size: 30px;
  color: rgba(225,225,225,0.7);
}

#user_native_country{
  width: 72%;
  text-indent: 0.01px;
  text-overflow: "";
  padding: 10px;
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-border-radius:10px 0;
     -moz-border-radius:10px 0;
          border-radius:10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
     -moz-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
          box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
}

.users-show .user_info,
.users-show .users_mynews_list{
  width: 90%;
  margin: auto;
}

.users-show .user_box{
  border: 2px solid rgba(255, 255, 255, 0.1);
  -webkit-border-radius:5px;
   -moz-border-radius:5px;
        border-radius:5px;
}

.users-show .user_info p,
.users-show .users_mynews_list li,
.users-index  p,
.users-index  h2{
  margin: auto;
  font-size: 25px;
  padding: 5px;
  font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
}

.users_mynews_list{
  padding-top: 20px;
}

.users_mynews_list li{
  min-width: 200px;
  width: 20%;
  display: inline-block;
}

.users-show .users_mynews_list .user_box{
  max-height: 250px;
  overflow: auto;
}


.users-show h1 {
  font-size: 40px;
  color:rgba(225, 225, 225, 0.3);
  font-family: 'Trebuchet MS';
}

.users-show h1 span, .users-index h1{
  font-size: 45px;
  color:rgba(225, 225, 225, 0.5);
}

.users-index a {
  display: block;
  margin: 2% 0 0 0;
  font-size: 20px;
  width: 100px;
  padding: 10px;
  background-color: rgba(146, 26, 26, 0.8);
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-border-radius:10px 0;
     -moz-border-radius:10px 0;
          border-radius:10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
     -moz-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
          box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
  color: #FFF;
}

.users-index a:hover{
  background-color: red;
}

.users-show .link-edit,
.users-show .link-cate {
  display: block;
  margin: 2% 0 0 60%;
  font-size: 20px;
  width: 35%;
  padding: 10px;
  background-color: rgba(146, 26, 26, 0.8);
  border: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
  -webkit-border-radius:10px 0;
     -moz-border-radius:10px 0;
          border-radius:10px 0;
  -webkit-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
     -moz-box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
          box-shadow: inset 0 0 5px rgba(168, 147, 147, 0.7);
  color: #FFF;
}

.users-show .link-edit:hover,
.users-show .link-cate:hover{
  background-color: red;
}

.submit_sign_up input,
.btn_submit,
#submit,
#contact-form #send-button{
  margin-top: 3%;
  width: 72%;
  height: 50px;
  -webkit-border-radius: 0 10px;
     -moz-border-radius: 0 10px;
          border-radius: 0 10px;
  padding: 10px;
  background-color: rgba(146, 26, 26, 0.8);
  color: white;
  font-size: 25px;
}

.submit_sign_up input:hover,
#submit:hover,
.btn_submit:hover,
#contact-form #send-button:hover{
  background-color: rgba(225, 20, 50, 1);
}


@media (max-width: 960px){
  .user_form, .sign_in, #contact-form{
    width: 100%;
  }

  .user_form input,
  .sign_in input,
  #user_native_country,
  #native_country,
  #contact-form input,
  #contact-form #message{
    width: 600px;
  }

  .submit_sign_up input,
  .btn_submit,
  #submit,
  #contact-form #send-button,
  #user_native_country{
    width: 600px;
  }

  #blank{
    margin-top: 0;
  }

  .users-show .link-edit,
  .users-show .link-cate{
    margin-left: 50%;
    width: 45%
  }
}

@media (max-width: 640px){
  .user_form input,
  .sign_in input,
  #user_native_country,
  #native_country,
  #contact-form input,
  #contact-form #message{
    width: 95%;
    font-size: 20px;
    margin: auto;
  }

  .user_form label,
  .sign_in label{
    font-size: 25px;
  }

  .submit_sign_up input,
  .btn_submit,
  #submit,
  #contact-form #send-button,
  #user_native_country{
    width: 98%;
    font-size: 20px;
    margin: auto;
  }

  .users-show h1 {
    font-size: 20px;
    color:rgba(225, 225, 225, 0.3);
    font-family: 'Trebuchet MS';
  }

  .users-show h1 span, .users-index h1{
    font-size: 35px;
    color:rgba(225, 225, 225, 0.5);
  }

  .users-show .user_box p,
  .users-show .user_box li{
    font-size: 20px;
    width: 95%;
  }

  .users-show .link-edit,
  .users-show .link-cate{
    margin-left: 0;
    width: 95%;
  }

  .users_mynews #msg {
    font-size: 25px;
    top: 0;
  }

}

