<div id="categories_container">
  <h1>CATEGORIES</h1>
  <% @categories.each do |cate| %>
    <div class="<%= cate.api_id %>">
      <p><%= cate.title %></p>
    </div>
  <% end %>
</div>

<div id="vmap" style="width: 960px; height: 500px; display:none;"></div>



